@page
@model LoanSystem.Web.Pages.IndexModel
@{
    <h1>Loan System</h1>

    <p>Welcome to the Loan System demo!</p>

    <ul>
        <li><a href="/FacilityGroups">Manage Facility Groups</a></li>
        <li><a href="/Facilities">Manage Facilities</a></li>
    </ul>

}
